<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>欢迎你,同学</h4>
    </div>
             <div class="row">
            <div class="col-md-12">
               <div class="alert alert-success">
                   <table border="2" align="center">
                       <tr>
                           <td>序号</td>
                           <td>课程名</td>
                           <td>课程编号</td>
                           <td>课程类别</td>
                       </tr>
                       <tr th:each ="i:${info}">
                           <td th:text = "${i.id}"></td>
                           <td th:text = "${i.password}"></td>
                           <td th:text = "${i.username}"></td>
                           <td th:text = "${i.tab}"></td>
                       </tr>
                   </table>
               </div>
            </div>

        </div>

</body>
</html>